body {
    margin: 2em 5%;
    font-family: Georgia, "Times New Roman", Times, serif;
}
h1, h2 {	
    color: #399;}
h1 {
    font-size: 1.5em;
}
h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
}
small {
    color: #999;
}
            
.button a:link{ color: #BF2A52;}
.button a:visited { color: #BF2A52;}
.button a:hover { color: #399;}

p a:link{ color: #BF2A52;}
p a:visited { color: #BF2A52;}
p a:hover { color: #399;}
            
#right{
    float:right;
}